<h2>Welcome to Chortal, <%= @mate.first_name %>!</h2>

  <p>
    We hope that using Chortal will bring harmony to your living situation.
  </p>

  <p>
    If your household already exists on Chortal, find it on <%= link_to "this list", @homepage %>.
  </p>

  <p>
    If you're the first user in your house to join, create a new household <%= link_to "here", @newhouse %>.
  </p>
