<%= form_for [@conversation, @new_message], remote: true, authenticity_token: true do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "New Message" %>
  </div>

  <div class="action">
    <%= f.submit "Send Message", class: "new-message-submit" %>
  </div>

  <div class="message-instructions">
    Press <strong><em>Enter</em></strong> to submit, <strong><em>Shift + Enter</em></strong> to begin a new line.<br>
  </div>
<% end %>
