<div class="request-password-reset">
  <%= form_tag password_resets_path, method: :post do %>
    <div class="field">
      <%= label_tag :email %>
      <%= email_field_tag :email %>
    </div>

    <div class="action">
      <%= submit_tag "Request Password Reset" %>
    </div>
  <% end %>
</div>
