<div class="point">
  <span class="point-amount">
    <%= point.amount %>
  </span>
  <span class="point-name">
    for <%= point.name %>
  </span>
  <span class="point-category">
    <%= point.category %>
  </span>
  <span class="point-date">
    Earned on <%= point.completed_date.strftime("%a, %b %e, %Y") %>
  </span>
</div>
