<%= form_tag houses_path, method: :get, remote: true, id: "house-search-form" do %>

  <div class="field">
    <%= text_field_tag :search, params[:search], placeholder: "123 Fake St.", class: "house-search-field" %>
  </div>

  <div class="action">
    <%= submit_tag "Search" %>
  </div>

<% end %>
