<div id="house-header" class="full-container">
  <div class="header-card full-container">
    <h1 id="house-name"><%= @house.name %></h1>
    <%= image_tag @house.house_image %>
  </div>
</div>

<div class="full-container">
  <div class="points-container">
    <div class="chart-container">
      <canvas class="points-pie" width="200" height="200"></canvas>
    </div>

    <div class="points-ranking">
      <table class="points-table table-minimal">
        <thead>
          <tr>
            <th class="points-mate">Mate</th>
            <th class="points-amount">Points</th>
          </tr>
        </thead>
        <tbody>
          <% @house.mates.each do |mate| %>
            <tr>
              <td class="points-mate">
                <%= mate.first_name %>
              </td>
              <td class="points-amount">
                <%= mate.total_points %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="spending-container">
    <div class="expense-chart chart-container">
      <h4 class="bar-chart-name">Expenses</h4>
      <canvas class="expense-bar" width="300" height="200"></canvas>
    </div>
    <div class="purchase-chart chart-container">
      <h4 class="bar-chart-name">Purchases</h4>
      <canvas class="purchase-bar" width="300" height="200"></canvas>
    </div>
  </div>
</div>
