<div id="house-header" class="full-container">
  <div class="header-card">
    <h1 id="house-name"><%= @house.name %></h1>
    <%= image_tag @house.house_image %>
  </div>

  <div class="house-container">
    <div class="full-container">
      <canvas id="test-chart"></canvas>
    </div>
  </div>
  
</div>
