<%= form_for [@conversation, @new_message] do |f| %>
  <div class="field">
    <%= f.label :body, "New Message" %>
    <%= f.text_area :body %>
  </div>

  <div class="action">
    <%= f.submit "Send Message" %>
  </div>
<% end %>
