<div class="messaging-header">
  <h3 class="conversation-index-header">Conversations</h3>
  </div>
<div class="messaging-global">
  <div class="card-container all-conversations slide-down">
    <% @conversations.each do |conversation| %>
      <% if conversation.sender == current_user %>
        <%= link_to conversation_path(conversation.id), class: "conversation-link", data: { id: conversation.id } do %>
          <div class="card-item each-conversation">
            <p><%= conversation.receiver.full_name %></p>
          </div>
        <% end %>
      <% else %>
        <%= link_to conversation_path(conversation.id), class: "conversation-link", data: { id: conversation.id } do %>
          <div class="card-item each-conversation">
            <p><%= conversation.sender.full_name %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="card-container messages"></div>
</div>
<div class="card-container new-message"></div>
