<% if @conversation.sender == current_user %>
  <h3>Your conversation with <%= @conversation.receiver.full_name %></h3>
<% else %>
  <h3>Your conversation with <%= @conversation.sender.full_name %></h3>
<% end %>

<div id="new-message-form">
  <%= render '/messages/new_message' %>
</div>

<div id="messages">
  <%= render @messages %>
</div>
