<div class="purchase">
  <p>
    <strong>
      <%= link_to "#{purchase.name}: #{number_to_currency(purchase.amount)}", mate_purchase_path(purchase.mate, purchase) %>
    </strong><br>
    Still owed: <%= number_to_currency(purchase.amount_owed) %><br>
    <% if purchase.image.present? %>
      Click <%= link_to "here", image_url("#{purchase.image}") %> to see a picture.
    <% end %>
  </p>
</div>
