#{$all-buttons} {
  appearance: none;
  background-color: $button-background-color;
  border: 0;
  border-radius: $button-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $button-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    // background-color: shade($button-background-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      // background-color: $button-background-color;
    }
  }
}

.small-button {
  font-size: 0.7rem;
  color: $black-54;
  width: 4rem;
  padding: 0.1rem;
  border-radius: 0;
  border: 1px solid $black-12;
  background-color: $white;
  box-shadow: none;

  &:hover {
    background-color: $color4;
    color: $black-54;
  }
}

.popup-form {
  input {
    border-radius: $button-border-radius
  }
}

.leave-house-button {
  font-size: 1rem;
}

.large-button {
  width: 14rem;
  background-color: transparent;
  border: 1px solid $black-12;
  padding: 0.8rem;
  box-shadow: none;
  color: $black-38;
  font-size: 0.8rem;

  &:hover {
    background-color: $black-12;
    color: $black-54;
  }
}

.close-button {

}
