// Typography
// $lato: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $nunito: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $hind: 'Hind', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $muli: 'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $montserrat: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$raleway: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $varela-round: 'Varela Round', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-family: $helvetica;
$heading-font-family: $raleway;
$site-logo-font-family: $raleway;

// Font Sizes
$base-font-size: 14px;
$heading-font-size: 1.2rem;
$button-font-size: 0.8rem;
$site-logo-font-size: 1.7rem;

// Line height
$base-line-height: 1.35;
$heading-line-height: 1.1;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

$button-border-radius: 6px;

$card-border-radius: 3px;
$card-item-height: 5.8rem;
$expense-card-item-height: 7rem;

// Colors
$blue: #1565c0;
$dark-gray: rgba(0, 0, 0, 0.70);
$medium-gray: rgba(0, 0, 0, 0.45);
$black-05: rgba(0, 0, 0, 0.05);
$light-gray: rgba(255, 255, 255, 0.70);
$lightest-gray: rgba(255, 255, 255, 0.85);
$off-white: rgba(255, 255, 255, 0.92);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

$black: rgba(0, 0, 0, 1.00);
$black-04: rgba(0, 0, 0, 0.04);
$black-12: rgba(0, 0, 0, 0.12);
$black-38: rgba(0, 0, 0, 0.38);
$black-54: rgba(0, 0, 0, 0.54);
$black-87: rgba(0, 0, 0, 0.87);

$white: rgba(255, 255, 255, 1.00);
$white-12: rgba(255, 255, 255, 0.12);
$white-50: rgba(255, 255, 255, 0.50);
$white-70: rgba(255, 255, 255, 0.70);

$blue-900: #0D47A1; //rgba(0, 188, 212, 100)
$blue-200: #90CAF9; //rgba(77, 208, 225, 100)
$blue-50: #E3F2FD; //rgba(178, 235, 242, 100)
$amber-a400: #FFC400; //rgba(255, 61, 0, 100)
$amber-a200: #FFE57F; //rgba(255, 110, 64, 100)

$color1: $blue-900;
$color2: $blue-900;
$color3: $blue-50;
$color4: $amber-a400;
$color5: $amber-a200;

// Font Colors
$base-font-color: $black-87;
$action-color: $color2;

// Border
$base-border-color: $black-38;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);

$nav-bar-background-color: $color2;
$nav-bar-text-color: $white-70;

$popup-border-color: $color2;

$button-background-color: $color1;
$button-border-color: $color2;

$flash-alert-background-color: #fbe3e4;
$flash-notice-background-color: #e5edf8;

// Card Colors
$card-background-color: rgba(221, 221, 221, 0.65);
$card-item-background-color: $white;
$card-item-background-color-hover: $off-white;

// Chart Colors
$chart-color0: #2979FF;
$chart-color1: #00B0FF;
$chart-color2: #00E5FF;
$chart-color3: #1DE9B6;
$chart-color4: #00E676;
$chart-color5: #76FF03;
$chart-color6: #C6FF00;
$chart-color7: #FFEA00;
$chart-color8: #FFC400;
$chart-color9: #FF9100;
$chart-color10: #FF3D00;

// Secondary Chart Colors
$secondary-chart-color0: #448AFF;
$secondary-chart-color1: #40C4FF;
$secondary-chart-color2: #18FFFF;
$secondary-chart-color3: #64FFDA;
$secondary-chart-color4: #69F0AE;
$secondary-chart-color5: #B2FF59;
$secondary-chart-color6: #EEFF41;
$secondary-chart-color7: #FFFF00;
$secondary-chart-color8: #FFD740;
$secondary-chart-color9: #FFAB40;
$secondary-chart-color10: #FF6E40;

$calendar-today-highlight-color: #FFFFE0;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
