// Typography
// $lato: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $nunito: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $hind: 'Hind', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $muli: 'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $montserrat: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$raleway: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$varela-round: 'Varela Round', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-family: $helvetica;
$heading-font-family: $varela-round;
$site-logo-font-family: $raleway;

// Font Sizes
$base-font-size: 14px;
$heading-font-size: 1.2rem;
$button-font-size: 0.8rem;
$site-logo-font-size: 1.7rem;

// Line height
$base-line-height: 1.35;
$heading-line-height: 1.1;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

$button-border-radius: 6px;

$card-border-radius: 3px;
$card-item-height: 5.5rem;
$expense-card-item-height: 7rem;

// Colors
$blue: #1565c0;
$dark-gray: rgba(0, 0, 0, 0.70);
$medium-gray: rgba(0, 0, 0, 0.45);
$black-05: rgba(0, 0, 0, 0.05);
$light-gray: rgba(255, 255, 255, 0.70);
$lightest-gray: rgba(255, 255, 255, 0.85);
$off-white: rgba(255, 255, 255, 0.92);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

$color1: #114b5f; //rgba(17, 75, 95, 100)
$color2: rgba(51, 51, 51, 1); //rgba(26, 147, 111, 100)
$color3: #88d498; //rgba(136, 212, 152, 100)
$color4: #c6dabf; //rgba(198, 218, 191, 100)
$color5: #f3e9d2; //rgba(243, 233, 210, 100)

// Font Colors
$base-font-color: $dark-gray;
$action-color: $color1;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $off-white;
$secondary-background-color: tint($base-border-color, 75%);

$nav-bar-background-color: $color2;
$nav-bar-text-color: $color4;

$popup-border-color: $color2;

$button-background-color: $color3;

$card-background-color: RGBa(221, 221, 221, 0.65);
$card-item-background-color: $white;
$card-item-background-color-hover: $off-white;

$flash-alert-background-color: #fbe3e4;
$flash-notice-background-color: #e5edf8;

$calendar-today-highlight-color: #FFFFE0;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
