  <div class="each-invitation">
    <p><%= link_to pending_invitation.mate.full_name, mate_path(pending_invitation.mate) %> has requested to join this house!</p>
    <p>Requested at <%= pending_invitation.created_at.localtime.strftime("%A, %d %b at %l:%M %p") %></p>
      <%= button_to "Accept", pending_invitation.mate, method: :patch, params: {:"mate[house_id]" => "#{pending_invitation.house_id}"}, class: "add-to-house-button", remote: true %>
      <%= button_to "Reject", house_pending_invitation_path(@house, pending_invitation), method: :delete, data: {confirm: "Are you sure you want to reject #{pending_invitation.mate.first_name}'s request?"}, class: "reject-request-button", remote: true %>
  </div>
