// Place all the styles related to the announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.announcement-title {
  font-weight: 600;
}

.announcement-posted {
  font-size: 0.8rem;
  color: $medium-gray;
}

.announcement-counter {
  display: inline-block;
}

#announcements-list {
  padding-top: 1.5rem;
}

.hidden-button {
  display: none;
}

#show-announcements-button,
#hide-announcements-button {
  font-size: 0.8rem;
  width: 3rem;
  padding: 0.3rem 0.3rem;
  background-color: #1A936F;
  border-color: #114b5f;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 3px rgba(13, 58, 73, 0.4);
  outline: none;
}
