

.simple-calendar {
  padding: 1rem 0;
  font-size: 0.8rem;
  font-weight: 600;
  color: $black-54;

  a {
    font-weight: 400;
  }

  @include media($small-screen-only) {
    overflow-x: scroll;
    padding-right: 0;
    padding-left: 0;
  }

  .calendar-event {
    margin: 0.3rem 0;
  }

  .day {
    height: $card-item-height;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

    .strikethrough {
      text-decoration: line-through;
    }
  }

  .calendar-date {
  }

  th {
    background-color: $light-gray;
    border-bottom: 0;

    @include media($small-screen-only) {
    }
  }

  td,
  th {
    border-left: 0;
    border-right: 0;

    @include media($small-screen-only) {
      width: 6rem;
      min-height: 6rem;
    }
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: $color3;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}
