// Place all the styles related to the mates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-container {
  @include outer-container;
  padding-top: 0rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.full-card {
  padding: 1rem;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $medium-gray;
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
}

.full-card-list {
}

.full-card-item {
  padding: 0.5rem 0;
  border-bottom: 1px $dark-gray;
}

.card-container {
  @include span-columns(12);

  padding: 1rem;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
  margin-bottom: 1rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $medium-gray;
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;

  @include media($medium-screen-up) {
    @include span-columns(6);

    height: 28rem;
  }

}

.card {
  padding: 1rem;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
}

.sub-card {
  border-radius: $card-border-radius;
  background-color: $card-background-color;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.full-card-header > h3,
.card-header > h3 {
    float: left;
    margin-bottom: 0;
}

.full-card-header > a,
.card-header > a {
    float: right;
}

.full-card-header,
.card-header {
    display: block;
    height: 2rem;
}

.card-list {
  width: 100%;
  overflow: auto;

  @include media($medium-screen-up) {
    height: 24rem;
  }
}

.card-item,
.sub-card-item {
  height: $card-item-height;
  border-radius: $card-border-radius;
  background-color: $card-item-background-color;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $medium-gray;
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;

  &.expense-item,
  &.purchase-item {
    height: $expense-card-item-height;
  }
}

.card-item:hover {
  background-color: $card-item-background-color-hover;

  & > .card-links > .item-icon-link {
    opacity: 0.3;

    &:hover {
      opacity: 0.7;
    }
  }

  & > .expense-summary > dl > .expense-pay > .new-expense-payment-button button {
    opacity: 1;
  }

  & > .purchase-summary > dl > .purchase-pay > .new-purchase-payment-button button {
    opacity: 1;
  }

  & > .purchase-summary > dl > .purchase-by > .purchase-pay > .new-purchase-payment-button button {
    opacity: 1;
  }
}

.card-summary {
  float: left;
  overflow-x: hidden;
  width: calc(100% - 5rem);
  white-space: nowrap;

  & > dl {
    margin: 0;
    padding-top: 0.4rem;
  }
}

.card-links {
  float: right;

  &.expense-links {
    margin-top: 0.5rem;
  }
}

.sub-card {
  padding-bottom: 1rem;
}

.sub-card-list {
}

.hide-card {
  display: none;
}
#roommates {
  text-align: center;
  padding: 1rem;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
  border-bottom-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $medium-gray;
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
}
.roommate {
  position: relative;
  display: inline-block;
  padding: 0 1rem 0 1rem;
  img {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    overflow: hidden;
  }
  // p {
  //   position: absolute;
  //   top: 25%;
  //   left: 3rem;
  // }
  // a {
  //   height: 2rem;
  //   width: auto;
  // }
}
