// Place all the styles related to the mates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-container {
  @include outer-container;
  padding-top: 0rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.full-card {
  padding: 1rem;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $medium-gray;
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
}

.full-card-list {
}

.full-card-item {
  padding: 0.5rem 0;
  border-bottom: 1px $dark-gray;
}

.card-container {
  @include span-columns(6);
  padding: 1rem;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
  height: 34rem;
  margin-bottom: 1rem;

  @include media($small-screen-only) {
    @include span-columns(12);
  }
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $medium-gray;
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
}

.card {
  padding: 1rem;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
}

.sub-card {
  border-radius: $card-border-radius;
  background-color: $card-background-color;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.full-card-header > h3,
.card-header > h3 {
    float: left;
    margin-bottom: 0;
}

.full-card-header > a,
.card-header > a {
    float: right;
}

.full-card-header,
.card-header {
    display: block;
    height: 2rem;
}

.card-list {
  overflow: auto;
  width: 100%;
  height: 30rem;
}

.card-item,
.sub-card-item {
  height: $card-item-height;
  border-radius: $card-border-radius;
  background-color: $card-item-background-color;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $medium-gray;
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;

  &.expense-item,
  &.purchase-item {
    height: $expense-card-item-height;
  }
}

.card-item:hover {
  background-color: $card-item-background-color-hover;

  & > .card-links > .item-icon-link {
    opacity: 0.3;

    &:hover {
      opacity: 0.7;
    }
  }

  & > .expense-summary > dl > .expense-pay > .new-expense-payment-button button {
    opacity: 1;
  }

  & > .purchase-summary > dl > .purchase-pay > .new-purchase-payment-button button {
    opacity: 1;
  }

  & > .purchase-summary > dl > .purchase-by > .purchase-pay > .new-purchase-payment-button button {
    opacity: 1;
  }
}

.card-summary {
  float: left;

  & > dl {
    margin: 0;
    padding-top: 0.4rem;
  }
}

.card-links {
  float: right;

  &.expense-links {
    margin-top: 0.5rem;
  }
}

.sub-card {
  padding-bottom: 1rem;
}

.sub-card-list {
}

.hide-card {
  display: none;
}
