.chart-container {
  @include span-columns(12);

  @include media($medium-screen-up) {
    @include span-columns(6);
  }
}

.points-pie {
  padding: 0;
  margin: auto;
  display: block;
}

.points-ranking {
  @include span-columns(12);

  @include media($medium-screen-up) {
    @include span-columns(6);
  }
}
