// Place all the styles related to the Chores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chore-info {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.chore-name {
  font-size: 1.1rem;
}

.chore-date,
.chore-back-details,
.chore-claim-form {
  font-size: 0.8rem;
  color: $medium-gray;
}

.chore-claim-form {
  display: inline;

  & > form {
    display: inline;

    & > input {
      padding: 0.2rem;
      border-radius: 0;
      font-family: $base-font-family;
      font-size: 0.7rem;
      margin: 0 0 0 0.2rem;
    }
  }
}

// .chore {
//
//   &.is-flipped {
//     backface-visibility: visible !important;
//     animation-name: flipOutY;
//   }
// }

.chore-claim-button {
  padding: 0.1rem;
  font-size: 0.5rem;
}

.chore-back-details {
  display: inline-block;
  float: left;
  padding: 1rem;
}

.notifications-form {
  display: inline;
  float: left;
  padding: 0.8rem;
  width: 13rem;
  margin-left: 2rem;
}

.notifications-field {
  display: inline-block;
  font-weight: 400;
  font-size: 0.8rem;
}

input.notifications-submit {
  padding: 0.3rem;
  border-radius: 0;
  font-family: $base-font-family;
  font-size: 0.8rem;
  margin: 0 0 0 0.2rem;
}
