.chore-detail {

  .detail-header {
    @include span-columns(12);

    .detail-name {

    }

    .detail-due-date {
      font-family: $base-font-family;
      font-size: 1rem;
      font-weight: 600;
      color: $black-54;
    }

    .completion {
      @include span-columns(9);
      padding: 0.5rem;

      @include media($medium-screen-only) {
        @include span-columns(7);
      }

      @include media($large-screen-up) {
        @include span-columns(5);
      }

      &.completed {
        background-color: #4CAF50;
        color: $white;
      }

      &.incomplete {
        background-color: #E53935;
        color: $white;
      }
    }

  }
}


table.detail-payments {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;

  .detail-mate-column {
    width: 16%;
    padding-right: 0.5rem;
  }

  .detail-money-column {
    width: 28%;
    text-align: right;
    padding-right: 0.5rem;
  }
}

.detail-assignment {
  float: left;

  & > form {
    display: inline-block;

    & > .small-button {
      font-size: 0.7rem;
      border-radius: 3px;
      padding: .2rem 0;
      margin-left: 0.3rem;
    }
  }
}

.detail-make-payment {
  float: left;
}

.detail-links {
  float: right;
}

.detail-delete-icon {
  position: relative;
  top: 0.1rem;
  width: 1.4rem;
  height: 1.4rem;
}
