.top-bar {
    background-color: $nav-bar-background-color;
    color: $nav-bar-text-color;
    font-size: 1.5em;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.5rem;
    z-index: 60;
}

.top-bar-right {
    font-size: 0.8rem;
    text-align: right;
    display: block;
    float: right;

    & > a {
        color: $white;
    }
}

.top-bar-left {
    display: block;
    float: left;
    font-size: 1rem;

    & > a {
        color: $white;
        padding: 0.25rem;
    }
}

.site-logo {
  font-family: $site-logo-font-family;
  font-weight: 800;
  font-size: $site-logo-font-size;
  margin-left: 0.5rem;
  margin-right: 1.2rem;
}
