.top-bar {
    background-color: $color5;
    color: $light-gray;
    font-size: 1.5em;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: .5rem;

    & > a {
        color: #ffffff;
    }
}

.top-bar-right {
    font-size: .8rem;
    text-align: right;
    display: block;
    float: right;
}

.top-bar-left {
    display: block;
    float: left;
}
