#landing-page-content {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url('gower_houses.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
  @include media($small-screen-only) {
    height: 50%;
  }
  @include media($medium-screen-up) {
    height: 55%;
  }
  @include media($large-screen-up) {
    height: 75%;
  }
}
#landing-page-circle {
  @include media($small-screen-only) {
    width: 75%;
    margin-top: 15%;
  }
  @include media($medium-screen-up) {
    width: 50%;
    margin-top: 5%;
  }
  @include  media($large-screen-up) {
    width: 40%;
    margin-top: 2%;
  }
  display: inline-block;
  border-radius: 50%;
  position: relative;
  background-color: RGBa(4, 8, 25, 0.75);
}
// #color-overlay {
//   height: 100%;
//   background-color: RGBa(4, 8, 25, 0.7);
// }
#landing-page-title {
  padding-top: 1rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#landing-page-title > h1 {
  font-family: 'Josefin Sans', sans-serif;
  @include media($small-screen-only) {
    font-size: 2.8rem;
  }
  @include media($medium-screen-up) {
    font-size: 3.4rem;
  }
  @include media($large-screen-up) {
    font-size: 4rem;
  }
}
#landing-page-links {
  position: fixed;
  top: 85%;
  @include span-columns(12);
  @include media($small-screen-only) {
    font-size: 1.5rem;
  }
  @include media($medium-screen-up) {
    font-size: 1.5rem;
  }
  @include media($large-screen-up) {
    font-size: 1.5rem;
  }
}
#more-info-button {
  @include span-columns(12);
  font-size: 1.3rem;
  position: fixed;
  top: 90%;
}
