#landing-page-content {
  text-align: center;
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  background-image: url('http://res.cloudinary.com/chortal/image/upload/v1458592869/landing-page-image_vyjoah.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 160%;

  @include media($medium-screen-up) {
    background-size: 100%;
  }

  #title-background-shading {
    height: 100%;
    width: 100%;
    background-color: RGBa(19, 40, 88, 0.6);

    #landing-page-title {
      color: white;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%,-50%);

      h3 {
        font-family: $helvetica;
        color: $white;
        margin: 0;
      }

      .landing-page-logo {
        letter-spacing: 0.2rem;
        font-weight: 800;
        font-size: 2.8rem;

        @include media($medium-screen-up) {
          font-size: 3.4rem;
        }
        @include media($large-screen-up) {
          font-size: 4rem;
        }
      }
    }
  }

  #link-background-shading {
    height: 67%;
    width: 100%;
    background-color: $black-04;

    #landing-page-links {
      @include span-columns(12);
      padding-top: 1.2rem;

      @include media ($medium-screen-up) {
        padding-top: 2rem;
      }

      h3 {
        font-family: $helvetica;
        font-size: 1rem;
        color: $black-54;
        margin-bottom: 1.2rem;
      }

      button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5rem;
      }
    }

    #more-info-button {

      button {
        background-color: $black-54;
        border: 0;
        color: $white;

        &:hover {
          background-color: $color2;
          color: $white;
        }
      }
    }
  }
}

#info-div {
  @include span-columns(12);
  @include omega;
  position: fixed;
  bottom: -8%;
  height: 0;
  width: 100%;
  padding: 0 2rem 2rem 2rem;
  background-color: $black-87;
  color: $white;

  @include media($large-screen-up) {
    overflow: auto;
  }

  .close-info-div {
    margin-bottom: 1.5rem;

    .close-button {
      margin-top: 1rem;
      border-color: $white-70;
      color: $white;

      &:hover {
        background-color: $white-70;
        color: $black-87;
      }
    }
  }

  .info-text {
    overflow: scroll;
    height: 70%;

    .info-div-column {
      @include span-columns(12);
      height: 9rem;
      padding: 0 2rem;

      color: $white-70;
      font-size: 0.8rem;

      @include media($medium-screen-up) {
        @include span-columns(3);
        height: auto;
        padding: 0;
      }

      .info-column-header {
        font-family: $raleway;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      .info-column-content {
        padding-top: 0;
      }
    }
  }
}
