#landing-page-content {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url('gower_houses.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
  @include media($small-screen-only) {
    height: 50%;
  }
  @include media($medium-screen-up) {
    height: 55%;
  }
  @include media($large-screen-up) {
    height: 75%;
  }
}
#landing-page-circle {
  @include media($small-screen-only) {
    // @include span-columns(8);
    // @include shift(2);
    width: 75%;
    margin-top: 5%;
  }
  @include media($medium-screen-up) {
    // @include span-columns(6);
    // @include shift(3);
    width: 50%;
    margin-top: 5%;
  }
  @include  media($large-screen-up) {
    // @include span-columns(4);
    // @include shift(4);
    width: 40%;
    margin-top: 2%;
  }
  display: inline-block;
  border-radius: 50%;
  position: relative;
  background-color: RGBa(4, 8, 25, 0.75);
}
#landing-page-title {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#landing-page-links {
  position: fixed;
  top: 85%;
  @include span-columns(12);
  @include media($small-screen-only) {
    top: 75%;
  }
}
