.popup-form {
  z-index: 0;
  top: 10%;
  position: absolute;
  opacity: 0;
  padding: 1rem;
  margin: auto;

  @include media($medium-screen-up) {
    @include span-columns(6);
    @include shift(3);
  }

  @include media($small-screen-only) {
    @include span-columns(12);
  }


  transition: all 0.25s ease-in;

  &.is-active {
    opacity: 1;
    z-index: 100;
    background-color: $base-background-color;
    cursor: default;
    position: fixed;
  }
}

#overlay {
  background-color: transparent;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;

  transition: all 0.25s ease-in;

  &.is-active {
    background-color: black;
    z-index: 99;
    opacity: 0.75;
    cursor: pointer;
  }
}
