.popup {
  z-index: -1;
  top: 5%;
  position: absolute;
  opacity: 0;
  padding: 0.5rem;
  margin: auto;
  border-radius: 3%;
  border: 10px $popup-border-color solid;

  .popup-layout {
    text-align: right;
  }

  .close-popup-link {
    text-decoration: underline;
    color: $medium-gray;
    cursor: pointer;
  }

  @include media($medium-screen-up) {
    @include span-columns(6);
    @include shift(3);
  }

  @include media($small-screen-only) {
    @include span-columns(12);
    &.is-active {
      overflow: scroll;
      max-height: 30rem;
    }
  }


  transition: all 0.25s ease-in;

  &.is-active {
    opacity: 1;
    z-index: 100;
    background-color: $base-background-color;
    cursor: default;
    position: fixed;
  }
}

#overlay {
  background-color: transparent;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;

  transition: all 0.25s ease-in;

  &.is-active {
    background-color: black;
    z-index: 99;
    opacity: 0.75;
    cursor: pointer;
    position: fixed;
  }
}

.noscroll {
  overflow: hidden;
}
