// Place all the styles related to the mates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-card {
  margin-top: 1.5rem;

  .mate-profile-picture {
    @include span-columns(12);

    text-align: center;
    position: relative;

    @include media($medium-screen-only) {
      @include span-columns(5);
      @include shift(1);
    }

    @include media($large-screen-up) {
      @include span-columns(4);
      @include shift(1);
      margin-left: 2rem;
    }

    .mate-avatar {
      display: block;
      border-radius: 50%;
      height: 200px;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;

      &.no-photo {
        background-color: $white;
        border: 1px solid $black-54;
        opacity: 0.5;
      }
    }

    .edit-mate-link {
      display: block;

      button {
        margin-top: 1rem;
      }
    }

    .mate-notifications {
      margin-top: 1.5rem;
      padding: 1rem;
      border: 1px solid $black-12;

      @include media($small-screen-only) {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        border: 1px solid $black-12;
      }

      h3 {
        font-size: 1rem;
        font-weight: 700;
        color: $black-54;
      }

      p {
        color: $black-54;
        font-size: 0.75rem;
      }

      .label-switch {
        margin-right: 1.5rem;
        font-size: 0.7rem;
        color: $black-54;
      }

      .large-button {
        width: 5rem;
        display: inline-block;
        position: relative;
        top: -0.8rem;
        background-color: transparent;
        border: 1px solid $black-12;
        border-radius: 0;
        padding: 0.4rem;
        box-shadow: none;
        color: $black-38;
        font-size: 0.8rem;

        &:hover {
          background-color: $black-12;
          color: $black-54;
        }
      }
    }
  }

  .mate-summary {
    @include span-columns(12);
    padding-top: 1rem;
    text-align: center;

    @include media($medium-screen-only) {
      @include span-columns(5);
      padding-top: 3rem;
      text-align: left;
    }

    @include media($large-screen-up) {
      @include span-columns(4);
      padding-top: 3rem;
      text-align: left;
    }

    h1 {
      font-size: 2.2rem;
      margin-bottom: 0.5rem;
    }
  }

  .mate-point-container {
    @include span-columns(12);

    @include media($large-screen-up) {
      @include span-columns(3);
      margin-top: 1rem;
      margin-right: 0;
      padding-right: 2rem;
    }

    .mate-point-summary {
      background-color: $color3;
      margin: 0.5rem 0;
      text-align: center;
      padding: 1rem 0.5rem;
      color: $black-54;

      .point-total {
        font-size: 4rem;
        font-weight: 600;
        line-height: 1;

        a {
          color: $black-54;
        }
      }

      .point-subtitle {
        font-size: 1rem;
      }
    }
  }
}

#mate-duties {
  padding: 1rem;
}





.no-house-profile {
  border-top: 1px solid #DDD;
  padding-top: 1rem;
  h2 > a {
    color: #1D7AA1;
  }
}



#getting-started-tabs {
  ul {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  text-align: center;
  li {
    display: inline-block;
    padding: 0.5rem;
    background: #263C6D;
    a {
      color: #fff;
    }
  }
  .ui-tabs-active {
    font-weight: bolder;
    text-decoration: underline;
  }
  .tab-content {
    text-align: left;
  }
}
