// Place all the styles related to the mates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-container {
  @include outer-container;
  padding: 1rem;
}

.chores-container {
  @include span-columns(6);
  padding: 1rem;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
}

.expenses-purchases-container {
  @include span-columns(6);
}

// .purchases-sub-container {
//   @include span-columns(3);
// }

.full-card {
  padding: 1rem;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
}

.full-card-list {
}

.full-card-item {
  padding: 0.5rem 0;
  border-bottom: 1px $dark-gray;
}

.announcement-title {
  font-weight: 600;
}

#mate-duties {
  padding: 1rem;
}
//
// .sub-container {
//
//   @include span-columns(3);
//
//   // @include media($small-screen-only) {
//   //   @include span-columns(12);
//   //   @include omega(3n);
//   // }
//   // @include media($medium-screen-up) {
//   //   @include span-columns(4);
//   //   @include omega(3n);
//   // }
//
// }

.card {
  padding: 1rem;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
}

.sub-card {
  border-radius: $card-border-radius;
  background-color: $card-background-color;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.card-list {
}

.card-item,
.sub-card-item {
  height: $card-item-height;
  border-radius: $card-border-radius;
  background-color: $card-item-background-color;
  padding: 1rem;
  margin: 0.5rem 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $medium-gray;
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
}

.card-item:hover{
  background-color: $card-item-background-color-hover;

  & > .card-links > .item-icon-link {
    opacity: 0.4;

    &:hover {
      opacity: 0.8;
    }
  }
}

.card-summary {
  float: left;
}

.card-links {
  float: right;
}

.sub-card {
  padding-bottom: 1rem;
}

.sub-card-list {
}

// .chore {
//   height: 18rem;
// }

.chore-info {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;
}


.chore-name {
  font-size: 1.1rem;
}

.chore-date {
  font-size: 0.8rem;
  color: $medium-gray;
}

.expense-summary {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.expense-name {
  font-size: 1.1rem;
}

.expense-date {
  font-size: 0.8rem;
  color: $medium-gray;
}

.expense-amount {
  font-size: 2rem;
  font-weight: 600;
}
