

table.detail-points {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;

  @include media($small-screen-only) {
    font-size: 0.8rem;
  }

  .points-name-column {
    width: 35%;
    padding-right: 0.5rem;
    overflow: hidden;
  }

  .points-category-column {
    width: 25%;
    padding-right: 0.5rem;
    overflow: hidden;
  }

  .points-date-column {
    width: 20%;
    padding-right: 0.5rem;
    overflow: hidden;
  }

  .points-amount-column {
    width: 20%;
    text-align: right;
    padding-right: 0.5rem;
    overflow: hidden;
  }
}
