.popup {
  z-index: -1;
  top: 10%;
  position: absolute;
  opacity: 0;
  padding: 0.5rem 1rem 1.5rem 1rem;
  margin: auto;
  border-radius: 0;
  border: none;
  max-height: 90%;
  overflow: scroll;

  .popup-layout {
    text-align: right;
  }

  .close-popup-link.close-button {
    width: 3rem;
    margin-right: 0.2rem;
    background-color: transparent;
    border: 1px solid $black-38;
    padding: 0.2rem;
    box-shadow: none;
    color: $black-38;
    font-size: 0.8rem;
    cursor: pointer;

    &:hover {
      background-color: $black-38;
      color: $white;
      border: 0;
    }
  }

  @include media($medium-screen-up) {
    @include span-columns(8);
    @include shift(2);
  }

  @include media($small-screen-only) {
    @include span-columns(11);
    @include shift(0.5);
    &.is-active {
      max-height: 80%;
    }

    @include media($medium-screen-only) {
      overflow: scroll;
      max-height: 30rem;
    }
  }


  transition: all 0.25s ease-in;

  &.is-active {
    opacity: 1;
    z-index: 100;
    background-color: $base-background-color;
    cursor: default;
    position: fixed;
    overflow: scroll;
  }

  .popup-form {

    .mate-form-submit,
    .chore-form-submit,
    .announcement-form-submit,
    .expense-form-submit,
    .expense-payment-form-submit,
    .purchase-payment-form-submit,
    .purchase-form-submit,
    .login-form-submit,
    .leave-house-button,
    .password-reset-form-button,
    .request-password-reset-button {
      background-color: #263C6D;
      border-color: #114b5f;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 3px rgba(13, 58, 73, 0.4);
      outline: none;
      border-radius: 0;
      display: block;
      width: 100%;
    }

    @include media($small-screen-only) {
      img {
        float: none;
        margin: 0 auto;
        display: block;
      }

      .notification-preferences {
        margin: 1rem 0;
      }
    }
  }
}

#overlay {
  background-color: transparent;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;

  transition: all 0.25s ease-in;

  &.is-active {
    background-color: black;
    z-index: 99;
    opacity: 0.75;
    cursor: pointer;
    position: fixed;
  }
}

.noscroll {
  overflow: hidden;
}

.notification-preferences {
  display: inline-block;
  border: 4px solid $nav-bar-background-color;
  border-radius: 5%;
  padding: 0.5rem;
  margin-top: -4rem;
  display: inline-block;
  position: relative;
  top: -8rem;
  left: -2rem;
  width: 33%;

  .field {
    display: inline-block;
    text-align: center;
  }

  @include media($small-and-medium-screens) {
    display: block;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 99%;
    text-align: center;

    label {
      margin: 0 1rem;
    }
  }

}

.mate-avatar-settings {
  display: inline-block;
  width: 66%;
  position: relative;

  @include media($small-and-medium-screens) {
    display: block;
    margin: 0 auto;
  }

}

input#mate_mate_avatar {
  padding-left: 3rem;

  @include media($small-and-medium-screens) {
    padding-left: 2rem;
  }
}

.mate-house-info {

  text-align: center;

  p {
    display: inline-block;
  }

  form {
    display: inline-block;

    @include media($small-screen-only) {
      display: block;
      margin: 0 auto;
    }
  }

  .action {
    display: inline-block;

    @include media($small-screen-only) {
      display: block;
    }

    input.leave-house-button {
      padding: 0.4rem;
      margin-bottom: 0.5rem;
      width: 100%;
    }
  }
}

.mate-firstname-field,
.mate-lastname-field,
.mate-email-field,
.mate-phonenumber-field,
.mate-username-field {
  display: inline-block;
  width: 49%;
}

.image-placeholder {
  height: 150px;
  width: 200px;
}
