.purchase-summary {
  padding: 0.5rem 0 0 1.2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;

  p {
    margin: 0;
  }

  .purchase-name {
    font-size: 1.1rem;
  }

  .purchase-date,
  .purchase-by {
    font-size: 0.8rem;
    color: $black-38;
  }

  .purchase-amount {
    font-size: 1.4rem;
    font-weight: 600;
    color: $black-87;
  }

  .purchase-amount-remaining {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    color: $black-38;
  }

  .purchase-item {
    padding-left: 1.5rem;
  }

  .purchase-pay {
    display: inline-block;
    margin-left: 0.3rem;
  }
}
