<div class="expense">
  <p>
    <strong>
      <%= link_to "#{expense.name}: #{number_to_currency(expense.amount)}", house_expense_path(expense.house, expense) %>
    </strong><br>
    Due: <%= expense.due_date.strftime("%a, %e %b %Y") %>
  </p>
  <%= link_to button_tag("edit"), edit_house_expense_path(expense.house, expense), remote: true %>
  <%= link_to button_tag("delete"), house_expense_path(expense.house, expense), method: :delete, remote: true %>
  <div id="edit-expense-form"></div>
</div>
